<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.danielniebles.terraazulapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Base.AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity android:name=".MainActivity" />
        <activity android:name=".NavActivity" />
        <activity android:name=".Loggin2Activity" />
        <activity android:name=".LogginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MisReservasActivity" />
        <activity android:name=".AgregarReservaActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".AgregarAutoActivity" />
        <activity android:name=".MiPerfilActivity" />
        <activity android:name=".FAQActivity" />
        <activity android:name=".MobiliarioActivity" />
        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>